<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Model selection </title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css">
        <link href="/css/standard.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id = "branding">
        <h1 style= "color: red;"> Model selection </h1>
        </div>
        <div id = "selection">

        <a href="/ridge">Ridge regression</a>
        <a href="/lasso">Lasso regression</a>
        <a href="/linear">Linear regression</a>
        <a href="/svr">Support Vecter Regression</a>
        <a href="/fnn">Feed Forward Neural Network</a>
        <a href="/lstm">Long Short Term Memory</a>

        </div>
    </body>
</html>