<!DOCTYPE html>
<html>
  <head>
    <title>ここにページのタイトル書くよ！</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href=".\css\standard.css">
  </head>
  <body>
    
    
    <div id = "sample1" data-test = '{{list}}' data-true='{{true}}' data-last='{{p_last}}' data-ylast='{{y_last}}' data-x = '{{x}}'></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <h2>{{answer}}</h2>
        <div id = "chart" style = "margin-left:50px; display:inline-block; margin-left:35%;">
        <canvas id="myChart" width="1000px" height="1000"></canvas>
    </div> 

    <script>

        var element = $('div').data("test");
        var x = $('div').data("x");
        var t = $('div').data("true");
        var y = $('div').data("last");
        var p = $('div').data("ylast");
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: x,
            datasets: [{
            label: 'predict',
            fill:false,
            data: element,
            tension: 0,
            backgroundColor: "rgba(153,255,51,0.4)"

            },{
            label: 'true',
            fill: false,
            data: t,
            tension: 0,
            backgroundColor: "rgba(143,12,14,5,1)"
            }]
            },
            options:{
                title:{
                    display: true,
                    text: 'これまでの株価の予想と実際の株価'
                },
                layout:{
                    left: 25,
                    right: 25,
                    top: 0,
                    bottom: 0
                }  
            }
            });
    </script>
  </body>
</html>